* {
    font-size: 18px;
    color: #888;
    font-family: "Microsoft Yahei";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bd {
    width:100%;
    float: left;
    position: relative;
}
.abs {
    position: absolute;
    z-index:2;
}

.container .item1 .t1 {
    width: 100%;
    top: 37%;
    text-align: center;
}
.container .item1 .t1 span {
    font-size:14px;
    padding: 0 10px;
    border: 1px solid #918b88;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}
.container .item1 .t2 {
    width: 100%;
    top: 74%;
    text-align: center;
}
.container .item1 .t2 span {
    color: #686868;
    display: inline-block;
    margin: 0 3px;
    font-size: 14px;
}
.container .item1 .t2 .icon {
    width:5px;
    height:5px;
    -webkit-border-radius:50%;
    border-radius:50%;
    display: inline-block;
    margin-right:5px;
    background: #686868;
    position: relative;
    top:-2px;
}

.container .item2 .t1 {
    font-size:18px;
    color: #595757;
    font-weight:bold;
    padding:0 25px;
    top:12%;
    text-align: center;
}
.container .item2 .t2 {
    padding:0 25px;
    font-size:14px;
    color: #888;
    line-height:18px;
    top:27%;
}

.container .item3 .t1 {
    font-size:20px;
    color: #fff;
    font-weight:bold;
    padding:0 25px;
    top:7%;
    text-align: center;
}
.container .item3 .t2 {
    padding:0 25px;
    font-size:14px;
    color: #fff;
    line-height:18px;
    top:19%;
}

.container .item4 .t1 {
    font-size:18px;
    color: #fff;
    font-weight:bold;
    padding:0 25px;
    top:8.5%;
    text-align: center;
}
.container .item4 .t2 {
    padding:0 25px;
    font-size:14px;
    color: #fff;
    line-height:18px;
    top:19.5%;
}

.container .item5 .t1 {
    font-size:18px;
    color: #595757;
    font-weight:bold;
    padding:0 25px;
    top:7%;
    text-align: center;
}
.container .item5 .t2 {
    padding:0 25px;
    font-size:14px;
    color: #595757;
    line-height:18px;
    top:17.5%;
}

.container .item6 .t1 {
    font-size:18px;
    color: #595757;
    font-weight:bold;
    padding:0 25px;
    top:10.5%;
    text-align: center;
}
.container .item6 .t2 {
    padding:0 25px;
    font-size:14px;
    color: #595757;
    line-height:18px;
    top:21.5%;
}

.container .item7 .t1 {
    font-size:20px;
    color: #231815;
    bottom:15%;
    text-align: center;
}
.container .item7 .t2 {
    padding:0 25px;
    font-size:12px;
    color: #bbb;
    line-height:18px;
    text-align: center;
    bottom:2%
}

.container .item8 {
    background: #f5f4f4;
    padding:15px 74px 50px 74px;

}
.container .item8 .t1 {
    font-size:10px;
    text-align: center;
    color: #000;
    margin-top:10px;
}
.container .item8 .t2 {
    font-size:10px;
    text-align: center;
    color: #000;
}

.container .item9 a {
    width:25%;
    line-height:33px;
    font-size:12px;
    background: #000;
    color: #fff;
    text-align: center;
    float: left;
    border: 1px solid #fff;
}
.container .item10 .t1 {
    width: 100%;
    top: 43%;
    text-align: center;
}
.container .item10 .t1 span {
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #918b88;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}


@media screen and (min-width:374px){
    .container .item2 .t2,
    .container .item3 .t2,
    .container .item4 .t2,
    .container .item6 .t2 {line-height: 24px;}
}






















