* {
    font-size: 18px;
    color: #888;
    font-family: "Microsoft Yahei";
}
body {
    background: #fff;
}
a:hover{
    text-decoration: none;}
.bd {
    width: 100%;
    min-width: 1180px;
    float: left;
}

.hd {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.icon {
    background: url(../images/icon.png) 0 0 no-repeat;
}

.header {
    height: 45px;
    line-height: 45px;
    background: #333;
    position: fixed;
    top:0;
    left:0;
    z-index:10;
}

.header .nav li {
    float: left;
    position: relative;
}

.header .nav li a,
.header .nav li span{
    font-size: 16px;
    color: #b0b0b0;
    float: left;
    padding:0 16px;
    cursor: pointer;
}

.header .nav li .hot {
    background-position: 0 0;
    width: 21px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: -20px;
}
.header .nav li.nav_about .arrow-down {
    background: url(../images/arrow-down.png) 0 0 no-repeat;
    width:10px;
    height:9px;
    float: right;
    margin-top:20px;
}
.header .nav li.nav_about .arrow-right {
    background: url(../images/arrow-right.png) 0 0 no-repeat;
    width:9px;
    height:9px;
    float: right;
    margin-top:20px;
}
.header .nav li.nav_about .drop {
    width:100%;
    position: absolute;
    top:45px;
    left:0;
    background: #333;
    display: none;
}
.header .nav li.nav_about .drop a {
    width:74px;
}
.header .nav li.nav_about .drop .rank {
    width:100%;
    float: left;
    background: #333;
    position: relative;

}
.header .nav li.nav_about .drop .rank1 {
    width:100%;
    position: absolute;
    top:0;
    left:100%;
    background: #333;
    display: none;
}
.header .nav li.nav_about .drop .rank:hover,
.header .nav li.nav_about:hover span,
.header .nav li.nav_about .rank a:hover{
    background: #515151;
}



.header .nav .wechat {
    font-size: 16px;
    color: #b0b0b0;
    float: right;
}

/*--//End*/
.container {
    padding-top:56px;
}
.container .item {
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
}

.container .item.item1 {
    background: url(../images/bg1.jpg) no-repeat top center;
    height: 494px;
}

.container .item.item1 i {
    background-position: -26px 0;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 5px;
}

.container .item.item1 .t2 {
    width: 100%;
    position: absolute;
    top: 195px;
    text-align: center;
}

.container .item.item1 .t2 span {
    padding:0 10px;
    border: 1px solid #000;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
}

.container .item.item1 .t3 {
    width: 100%;
    position: absolute;
    top: 336px;
    text-align: center;
}

.container .item.item1 .t3 span {
    color: #686868;
    display: inline-block;
    margin: 0 6px;
}
.container .item.item1 .tt {
    position: absolute;
    top: 256px;
    cursor: pointer;
}
.container .item.item1 .tt1 {
    left: 513px;
}
.container .item.item1 .tt2 {
    left: 545px;
}
.container .item.item1 .tt3 {
    left: 577px;
}
.container .item.item1 .tt4 {
    left:609px
}
.container .item.item1 .tt5 {
    left:640px
}
.container .item.item1 .tt:hover img {
    transform: scale(1.4);
    -webkit-transition: all .3s;
    transition: all .3s;
}



.container .item.item2 {
    background:#fff url(../images/bg2.jpg) no-repeat top center;
    height: 605px;
    /*padding-bottom:100px;*/
}

.container .item.item2 .t1 {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 113px;
    color: #595757;
}

.container .item.item2 .t2 {
    width: 1000px;
    min-width: 1000px;
    margin-top: 23px;
    line-height: 31px;
}
.container .item.item2 .t3 {
    position: absolute;
    top:310px;
    left:0;
}

.container .item.item3 {
    background: url(../images/bg3_01.jpg) no-repeat top center;
    height: 666px;
    margin-top:100px;
}

.container .item.item3 .t1 {
    width: 100%;
    font-size: 36px;
    color: #fff;
    font-weight: bolder;
    float: left;
    margin-top: 270px;
}

.container .item.item3 .t2 {
    width: 590px;
    margin-top: 31px;
    line-height: 31px;
    float: left;
    color: #fff;
}
.container .item.item3 .t3 {
    position: absolute;
    top: 167px;
    right: 0;
}
.container .item.item3_1 {
    background: url(../images/bg3_02.jpg) no-repeat top center;
    height: 130px;
}

.container .item.item4 {
    background: url(../images/bg4.jpg) no-repeat top center;
    height: 705px;
}

.container .item.item4 .t1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: bolder;
    float: left;
    margin-top: 96px;
}

.container .item.item4 .t2 {
    width: 100%;
    min-width: 1180px;
    text-align: center;
    margin-top: 36px;
    line-height: 31px;
    float: left;
    color: #fff;
}

.container .item.item5 {
    background: url(../images/bg5_01.jpg) no-repeat top center;
    height: 565px;
}
.container .item.item5 .t1 {
    width: 100%;
    font-size: 36px;
    color: #595757;
    font-weight: bolder;
    float: left;
    margin-top: 206px;
}
.container .item.item5 .t2 {
    width: 510px;
    margin-top: 20px;
    line-height: 31px;
    float: left;
    color: #595757;
}
.container .item.item5 .t3 {
    position: absolute;
    top: 172px;
    right: -6px;
}
.container .item.item5_1 {
    background: url(../images/bg5_02.jpg) no-repeat top center;
    height: 128px;
}


.container .item.item6 {
    background: url(../images/bg6.jpg) no-repeat top center;
    height: 843px;
}
.container .item.item6 .hd {
    height:836px;
    overflow: hidden;
}
.container .item.item6 .t1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #595757;
    font-weight: bolder;
    float: left;
    margin-top: 80px;
}

.container .item.item6 .t2 {
    width: 1140px;
    text-align: center;
    margin-top: 15px;
    line-height: 31px;
    float: left;
    color: #595757;
}
.container .item.item6 .t3 {
    width:160px;
    height:570px;
    position: absolute;
    top:266px;
    left:50%;
    margin-left:-80px;
}
.container .item.item6 .t3 img {
    position: absolute;
    top:0;
    left:0;
}
.container .item.item7 {
    background: url(../images/bg7.jpg) no-repeat top center;
    height: 1057px;
}
.container .item.item7 .t1 {
    width:100%;
    font-size:55px;
    color: #231815;
    text-align: center;
    float: left;
    margin-top:390px;
}
.container .item.item7 .t2 {
    width:100%;
    text-align: center;
    color: #bbbbbb;
    float: left;
    margin-top: 10px;
}
.container .item.item7 .t3 {
    width:100%;
    height:80px;
    float: left;
    margin-top:422px;
}
.container .item.item7 .t3 p {
    width:260px;
    float: left;
    position: relative;
}
.container .item.item7 .t3 strong,
.container .item.item7 .t3 span {
    width:100%;
    float: left;
    color: #000;
    font-size: 20px;
}
.container .item.item7 .t3 span {
    font-size: 16px;
    color: #5d5d5d;
    margin-top:10px;
}
.container .item.item7 .t3 p {
    margin-right: 30px;
    padding-left: 105px;
}
.container .item.item7 .t3 .icon {
    width: 105px;
    height: 65px;
    position: absolute;
    top: 0;left: 0;
}
.container .item.item7 .t3 .icon1 {
    background-position: 0 -130px;
}
.container .item.item7 .t3 .icon2 {
    background-position: 0 -195px;
}
.container .item.item7 .t3 .icon3 {
    background-position: 0 -260px;
}
.container .item.item7 .t3 p.a2 {
    padding-left: 116px;
}
.container .item.item7 .t3 p.a3 {
    width: 274px;
}

.container .item.item7 .t4 {
    position: absolute;
    top:136px;
    left:50%;
    margin-left:-108px;
}



/*--//End--*/
.footer {
    width:100%;
    height:440px;
    float: left;
    background: #fff;
}
.footer .part {
    width:100%;
    padding:12px 0;
    float: left;
    margin-top: 60px;
    text-align: center;
    border-bottom: 1px solid #d5d5d4;
}

.footer .part span {
    line-height:36px;
    display: inline-block;
    font-size: 14px;
    color: #07a547;
    margin:0 30px;
}
.footer .part span i {
    width:36px;
    height:36px;
    float: left;
    margin-right:10px;
}
.footer .part span i.icon1 {
    background-position: 0 -14px;
}
.footer .part span i.icon2 {
    background-position: 0 -50px;
}
.footer .part span i.icon3 {
    background-position: 0 -86px;
}
.footer .main {
    width:100%;
    float: left;
    margin-top:30px;
}
.footer .main a,
.footer .main p {
    width:100%;
    float: left;
    font-size:14px;
    color: #b0b0b0;
    margin-bottom:20px;
}
.footer .main dl {
    float: left;
    margin-right:100px;
}

.footer .main dl.w1 {
    width:60px;
    margin-left:20px;
}
.footer .main dl.w2 {
    width:90px;
}
.footer .main dl.w3 {
    width:370px;
    margin-right:0;
}



.footer .main dt {
    width:100%;
    font-size:14px;
    color: #000;
    float: left;
    margin-bottom:20px;
}

.footer .main .wechat {
    width: 130px;
    float: right;
    margin-right:80px;
}

.footer .main .wechat p {
    text-align: center;
    line-height: 30px;
    color: #b0b0b0;
}

.footer .copyright {
    width:100%;
    float: left;
    margin-top:40px;
    text-align: center;
    color: #000;
    font-size:12px;
}












.slow {
    -vendor-animation-duration: 30s;
    -vendor-animation-delay: 10s;
}